* {
    padding: 0;
    margin: 0;
    display: relative;
}

body {
    min-width: 375px;
    border-color: hsl(200, 26%, 54%);
    border-radius: 10em;
    background: white;
}

.form, .results {
    width: 100%;
}
.form {
    background: hsl(0, 0%, 100%);
    min-height: 50vh;
    margin-left: 1.5em;
    padding-bottom: 2em;
}

.form h2{
    margin-top: 1em;
    margin-bottom: .5em;
}

.form form h4 {
    color: hsl(200, 24%, 40%);
    margin-top: 1.5em;
    font-family: Barlow;
    font-weight: 500;
}

.form form input{
    border: 1px solid hsl(200, 26%, 54%);
    border-radius: 4px;
}
.form h2, label {
    color: hsl(202, 55%, 16%);
}

.form button {
    background-color: hsl(61, 70%, 52%);
    border-style: none;
    border-radius: 4em;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: .7em 1px;
    font-weight: 700;
    gap: 12px;
    width: 86vw;
    display: flex;
    font-size: 15pt;
    margin-top: 22px;
}

.form .radio-buttons {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 86.5vw;
}

.form .radio-buttons .radio-border {
    border-style: solid;
    font-size: 14pt;
    height: 4.3vh;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    padding-left: .9em;
    gap: .8rem;
    border: 1px solid hsl(200, 26%, 54%);
    font-family: Barlow;
    font-weight: 700;
    height: 6vh;
}

.radio-border input[type="radip"] {
    margin-left: 10px;
}

input[type="text"]{
    margin-top: 8px;
    width: 85vw;
    height: 6vh;
}

.results {
    background: hsl(202, 55%, 16%);
    min-height: 50vh;
    max-height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.results img{
    height: 13em;
    margin: 2em auto;
    width: auto;
}

.results h2, p {
    text-align: center;
    margin: 0 3em;
}

.results h2 {
    margin-top: -.4em;
    font-family: Barlow;
    font-weight: 500;
    font-size: 19pt;
}

.results p {
    font-family: Barlow;
    font-weight: 500;
    font-size: 13pt;
}

#clear:hover {
    text-decoration: underline;
}

@media (min-width: 1440px) {
    * {
        margin: 0;
        padding: 0;
    }
    body { font-size: 18px; }

}

